:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --header-background: rgb(241, 242, 242);
  --accent-color: rgba(255, 13, 13, 1);
  --header-btn-hover: rgba(255, 13, 13, 0.8);
  --find-form-background: rgba(255, 13, 13, 0.95);
  --primary-btn: rgba(122, 185, 49, 1);
  --primary-btn-hover: rgba(122, 185, 49, 0.9);
  --background-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --gallery-border-color: #eeeeee;
  --hero-gradient: rgba(0, 0, 0, 0.16);
  --social-color: #afb1b8;
  --footer-social: rgba(255, 255, 255, 0.1);
  --specialization-bkg: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --galery-overlay: rgba(33, 150, 243, 0.9);
  --modal-form-border-color: rgba(33, 33, 33, 0.2);
  --input-border-active-color: rgba(33, 150, 243, 1);
}

@font-face {
  font-family: "GoodTimes-Regular";
  src: local(""), url("../../assets/fonts/Good-Times-Font/good times rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GoodTimes-Bold";
  src: local(""), url("../../assets/fonts/Good-Times-Font/Good Times W00 Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
h3,
p {
  margin: 0;
}

body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}
body.mobile-menu-open {
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list, .nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link, .nav-menu__link, .logo {
  display: inline-block;
  text-decoration: none;
  padding: 15px 0;
  color: inherit;
}

.container, .page-header__container {
  padding: 0;
  margin: 0 auto;
  width: 480px;
}
@media screen and (max-width: 480px) {
  .container, .page-header__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container, .page-header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1680px) {
  .container, .page-header__container {
    width: 1680px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
@media screen and (min-width: 1680px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1680px) {
  .section-title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.button-form--reset, .button-form--submit, .button-header {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 18px;
  background-color: var(--button-background-color);
  color: var(--secondary-text-color);
  font-family: inherit;
  cursor: pointer;
}

.button-header {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.06em;
  min-width: 144px;
  height: 36px;
  padding: 8px 0px;
  -webkit-transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.button-header:hover, .button-header:focus {
  background-color: var(--header-btn-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-form--submit {
  background-color: var(--primary-btn);
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  min-width: 173px;
  height: 43px;
  padding: 8px 0px;
  text-transform: uppercase;
  border-radius: 14px;
  -webkit-transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.button-form--submit:hover, .button-form--submit:focus {
  background-color: var(--primary-btn-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-form--reset {
  position: relative;
  background-color: transparent;
  color: var(--background-color);
  font-weight: bold;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  height: auto;
  padding: 0;
  text-transform: uppercase;
  border-radius: 14px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.button-form--reset::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  height: 2px;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.button-form--reset:hover::after, .button-form--reset:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.logo {
  padding: 0;
}
.logo-accent {
  color: var(--accent-color);
}

.footer__logo {
  color: var(--background-color);
  margin-bottom: 20px;
  padding: 0;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid #ececec;
  background-color: var(--header-background);
  height: 60px;
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 76px;
  }
}
.page-header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 90px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-left: 315px;
  margin-right: 60px;
}
@media screen and (min-width: 768px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-menu__item {
  position: relative;
  margin-left: 80px;
  font-family: "GoodTimes-Regular";
  font-weight: normal;
  font-style: normal;
}
.nav-menu__item:first-child {
  margin-left: 0;
}
.nav-menu__item:last-child {
  margin-left: 260px;
}

.nav-menu__link {
  color: var(--accent-color);
  padding: 32px 0;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.nav-menu__link::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  height: 4px;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--header-btn-hover);
}
.nav-menu__link:hover::after, .nav-menu__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hamburger {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 30;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.hamburger:hover, .hamburger:focus {
  color: var(--accent-color);
}
.hamburger .hamburger__icon-close {
  opacity: 0;
}
.hamburger.is-open .hamburger__icon-menu {
  opacity: 0;
}
.hamburger.is-open .hamburger__icon-close {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hero {
  position: relative;
  font-family: "GoodTimes-Regular";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--footer-background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/header/header-mobile-img-480x400/img-min.jpg);
  background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url(../images/header/header-mobile-img-480x400/img-min.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/header/header-mobile-img-480x400/img@2x-min.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url(../images/header/header-mobile-img-480x400/img@2x-min.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/header/header-tablet-img-768x400/img-min.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url(../images/header/header-tablet-img-768x400/img-min.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/header/header-tablet-img-768x400/img@2x-min.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url(../images/header/header-tablet-img-768x400/img@2x-min.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../assets/images/header/header-desktop-img-1600x600/hero.webp);
    background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url(../assets/images/header/header-desktop-img-1600x600/hero.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../assets/images/header/header-desktop-img-1600x600/hero@2x.webp);
    background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url(../assets/images/header/header-desktop-img-1600x600/hero@2x.webp);
  }
}
@media screen and (min-width: 1680px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 571px;
    max-width: 1680px;
  }
}

@media screen and (min-width: 1680px) {
  .hero__title__container {
    position: absolute;
    top: 150px;
    left: 140px;
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-size: 35px;
  line-height: 1.1914893617;
  color: var(--background-color);
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
@media screen and (min-width: 1680px) {
  .hero__title {
    font-size: 47px;
    line-height: 1.1914893617;
    max-width: 500px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1680px) {
  .find-form__section {
    padding-bottom: 0;
    margin-top: -117px;
  }
}

@media screen and (min-width: 768px) {
  .find-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1680px) {
  .find-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.find-form {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .find-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1680px) {
  .find-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1270px;
    height: 364px;
    background-color: var(--find-form-background);
  }
}

.find-form__title {
  margin: 0 auto;
  font-size: 27px;
  line-height: 1.1851851852;
  color: var(--background-color);
  font-family: "GoodTimes-Regular";
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
@media screen and (min-width: 1680px) {
  .find-form__title {
    font-size: 27px;
    line-height: 1.1851851852;
    margin-top: 30px;
  }
}

.find-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-top: 40px;
}
.find-form__row:nth-child(2) {
  margin-top: 30px;
}

.find-form__row--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  width: 890px;
}

.find-form__input {
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.2;
  height: 32px;
  border: 1px solid var(--modal-form-border-color);
  border-radius: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font: inherit;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.find-form__input:focus, .find-form__input:active, .find-form__input:focus-visible {
  border: 1px solid var(--input-border-active-color);
  outline: none;
}
.find-form__input.short {
  width: 115px;
}
.find-form__input.long {
  width: 270px;
}
.find-form__input.options {
  width: 890px;
}/*# sourceMappingURL=main.css.map */