%button {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 18px;
  background-color: var(--button-background-color);
  color: var(--secondary-text-color);
  font-family: inherit;
  cursor: pointer;
}
.button-header {
  @extend %button;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.06em;
  min-width: 144px;
  height: 36px;
  padding: 8px 0px;
  @include customTransition(background-color, box-shadow);

  &:hover,
  &:focus {
    background-color: var(--header-btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.button-form--submit {
  @extend %button;
  background-color: var(--primary-btn);
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: calc(19.2 / 16);
  letter-spacing: 0.06em;
  min-width: 173px;
  height: 43px;
  padding: 8px 0px;
  text-transform: uppercase;
  border-radius: 14px;
  @include customTransition(background-color, box-shadow);

  &:hover,
  &:focus {
    background-color: var(--primary-btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.button-form--reset {
  @extend %button;
  position: relative;
  background-color: transparent;
  color: var(--background-color);
  font-weight: bold;
  font-size: 13px;
  line-height: calc(15.6 / 13);
  letter-spacing: 0.06em;
  height: auto;
  padding: 0;
  text-transform: uppercase;
  border-radius: 14px;
  &::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom center;
    height: 2px;
    border-radius: 2px;
    @include customTransition(transform);
  }
  @include customTransition(color);
  &:hover,
  &:focus {
    &::after {
      transform: scaleX(1);
    }
  }
}
