.logo {
  @extend .link;
  padding: 0;

  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }
}
.logo-accent {
  color: var(--accent-color);
}
.header__logo {
}
.footer__logo {
  color: var(--background-color);
  margin-bottom: 20px;
  padding: 0;
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }
}
