.mobile-menu__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--background-color);
  overflow-y: scroll;

  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    // display: none;
    transform: translateY(-101%);
    transition: transform 500ms var(--timing-function);

    &.is-open {
      // display: flex;
      transform: translateY(0);
    }
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
// =================== .mobile-navigation =====================
.mobile-navigation {
  @extend .list;
  font-size: 40px;
  line-height: setLineHeight(47px, 40px);
  color: var(--secondary-text-color);
}
.mobile-navigation__item {
  & + & {
    margin-top: 32px;
  }
}
.mobile-navigation__link {
  @extend .link;
  padding: 0;
}
// =================== .mobile-contacts =====================
.mobile-contacts {
  @extend .list;
}
.mobile-contacts__item {
  font-size: 34px;
  line-height: setLineHeight(40px, 34px);
  color: var(--accent-color);
  & + & {
    margin-top: 32px;
    font-size: 24px;
    line-height: setLineHeight(28px, 24px);
    color: var(--main-text-color);
  }
}
.mobile-contacts__link {
  @extend .link;
  padding: 0;
}
// =================== .mobile-social =====================
.mobile-social {
  @extend .list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  font-size: 18px;
  line-height: setLineHeight(22px, 18px);
  margin-top: 64px;
  color: var(--accent-color);
}
.mobile-social__item {
  margin-bottom: 15px;
  & + & {
    margin-left: 10px;
    padding-left: 9px;
    border-left: 1px solid var(--modal-form-border-color);
  }
}
.mobile-social__link {
  @extend .link;
  padding: 0;
}
